<launch>

    <param name="use_sim_time" value="true"/>
    <arg name="fssim_config" default="$(find fssim_interface)/fssim_config/local_simulation.yaml"/>

    <include file="$(find fssim)/launch/start.launch">
        <arg name="fssim_config" value="$(arg fssim_config)"/>
    </include>

    <node name="fssim_rviz" pkg="rviz" type="rviz" args="-d $(find fssim_interface)/rviz/trackdrive.rviz"/>

    <include file="$(find fssim_interface)/launch/only_interface.launch"/>

    <node name="teleop" type="turtle_teleop_key" pkg="turtlesim"/>

    <node name="teleop_recieve_send" type="teleop_recieve_send" pkg="triangulation"/>

    <node name="send_cone_coordinate" type="send_cone_coordinate" pkg="triangulation"/>

    <node name="Delone" type="main.py" pkg="triangulation"/>

</launch>
